K_POSTGRES_DB=kestra
K_POSTGRES_USER=kestra
K_POSTGRES_PASSWORD=kestra

K_USER=admin
K_PASSWORD=admin

SNOWFLAKE_ACCOUNT=<account_identifier>
SNOWFLAKE_USER=<username>
SNOWFLAKE_PASSWORD=<password>
SNOWFLAKE_ROLE=<role>

SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=NYC_TAXI

SNOWFLAKE_RAW_SCHEMA=RAW
SNOWFLAKE_BRONZE_SCHEMA=BRONZE
SNOWFLAKE_SILVER_SCHEMA=SILVER
SNOWFLAKE_GOLD_SCHEMA=GOLD